input{
    text-align: center;
    border: none;
    padding: 1%;
    margin: 0.5%;
    font-weight: bold;
    border-radius: 2px;
    background-color: rgb(160, 145, 99);
}

input::placeholder{
    color:white;
}

input[type="submit"]{
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 1%;
    margin: 0.5%;
    border: none;
}
